:root{
    --black: #000;
    --red: #fc0000;
    --white: #fff;
}
body{
    background-color: var(--black);
}

header{
    text-align: center;
}

img{
    border: 4px double var(--red);
    height: 500px;
}

.container{
    border: 2px solid var(--red);
    background-color: var(--black);
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    color: white;
    background-color: var(--red);
    text-align: center;
    padding: 20px;
}

a{
    border: 4px double var(--black);
    text-decoration: none;
    color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    padding: 20px;
}

a:hover{
    background-color: var(--black);
}

a:active{
    background-color: darkred;
}


h1{
    font-size: 30pt;
    text-align: center;
}

h2{
    font-size: 24pt;
}

.text{
    font-size: 18pt;
    text-align: justify;
}

h3{
    text-align: center;
}

footer{
    padding-top: 100px;
    text-align: center;
    color: var(--white);
    font-size: 15pt;
    font-family: 'Times New Roman', Times, serif;
}

span{
    text-align: center;
}

.img{
    text-align: center;
    font-size: 10pt;
}